
body
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.header
{
    color: black;
    padding: 20px;
    text-align: center;
    border: none;
    padding: 2px;
    
}
.saintm
{
    padding-bottom: 15px;
    width: 50%;
    padding-left: 2%;
    border: 0px gray;
    box-shadow: 5px 5px 10px;
    margin-right: 20px;
}
.parent
{
    display: flex;
}

.all-btn
{
    background-color: rgb(202, 153, 153);
    border-radius: 5px;
    border: none;
    padding: 5PX 10PX;
    
}
.saint-photo
{
    text-decoration: none;
}

img
{
    float: left;
}


